header {
    clear: both;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

footer {
    clear: both;
}

#animateDiv {
    // width: 40px;
    background: #09beb7;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    float: left;
    margin: 20px 0px;
    border-radius: 8px;
    position: relative;
    animation: myAnimateDiv 11s infinite;
}

@keyframes myAnimateDiv{
    0% {transform: rotate(0deg);left:-10%;}
   10% {transform: rotate(0deg);left:0px;}
   15% {transform: rotate(20deg);}
   30% {transform: rotate(0deg);left:50%;}
   40% {transform: scale(1.5,1.5);left:50%;}
   46% {transform: scale(1,1);left:50%;}
   50% {transform: rotate(0deg);left:50%;}
   60% {transform: rotate(360deg);left:100%;background: #09beb7;}
   65% {transform: rotate(350deg);left:100%;}
   70% {transform: rotate(360deg);left:100%;}
   75% {transform: rotate(370deg);left:100%;}
   80% {transform: rotate(360deg);left:100%;background:#cc1ec6;}
   90% {transform: rotate(0deg);left:50%;background:#cc1ec6;}
   95% {transform: rotate(-20deg);left:50%;}
  100% {transform: rotate(0deg);left:-10%;}
}
